.idea/
.vs/
.vscode/
Cargo.lock
/target/
**/*.rs.bk
admin/
test.db
epg.db
epg.db.*
epg.db-*
# tools
/sqlite3.exe
/sqlite3.dll
# python
/.venv
# web
/node_modules
static/*.min.js
static/*.min.css
static/fonts
