.idea/
.vs/
.vscode/
/target/
**/*.rs.bk
admin/
test.db
epg.db
epg.db.*
epg.db-*
# tools
/sqlite3.exe
/sqlite3.dll
/sqlite3.lib
# python
/.venv
# web
/node_modules
static/*.min.js
static/*.min.js.gz
static/*.min.js.LICENSE.*
static/*.min.css
static/*.min.css.gz
static/fonts
# secret
.env
*.m3u
