[Unit]
Description=EPG Server

[Service]
Environment=RUST_LOG=info
WorkingDirectory=/usr/local
ExecStart=/usr/local/bin/epg-server
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=epg-server

[Install]
WantedBy=multi-user.target
