[Unit]
Description=EPG Server %I
After=network.target

[Service]
User=someuser
Environment=RUST_LOG=info
Environment=RUST_BACKTRACE=1
WorkingDirectory=/opt/epg-server
ExecStart=/opt/epg-server/app
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=epg-server-%i

[Install]
WantedBy=multi-user.target
